/* Additional CSS Reset */
:root {
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }

/* Main Container Styles */
.main-container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content-container";
}

.sidebar {
    background-color: hsl(201, 79%, 46%);
    grid-area: sidebar;
}

.header {
    background-color: white;
    grid-area: header;
}

.main-content-container {
    background-color: #E2E8F0;
    grid-area: main-content-container;
}

/* Sidebar Elements */
.sidebar {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sidebar-options {
  display: grid;
  grid-template-columns: 1fr 3fr;
}