/* Additional CSS Reset */
:root {
    line-height: 1.5;
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img {
    display: block;
    max-inline-size: 100%;
  }

/* Font Code */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Main Container Styles */
.main-container {
  font-family: "Roboto", ser;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4.5fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content-container";
}

.sidebar {
  background-color: hsl(201, 79%, 46%);
  grid-area: sidebar;
}

.header {
  background-color: white;
  grid-area: header;
}

.main-content-container {
  background-color: #E2E8F0;
  grid-area: main-content-container;
}

/* Sidebar Elements */
.sidebar {
  display: grid;
  grid-template-rows: 1fr 5fr 4fr;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
}

.logo svg {
  fill: white;
  width: 4rem;
  height: auto;
}

.sidebar-options {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
}

.symbol-text {
  justify-self: start;
}

.sidebar-options svg {
  fill: white;
  width: 2rem;
  height: auto;
}

/* Header Elements */
.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 32px;
}

.header svg {
  width: 2rem;
  height: auto;
}

.upper-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.upper-header input {
  border: none;
  background-color: #E2E8F0;
  border-radius: 10px;
  width: clamp(300px, 30vw, 700px);
  height: 1.35rem;
  padding: 0px 0.5rem;


}

.search {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
}

.controls img {
  width: 60px;
  height: auto;
}

.propic {
  border-radius: 50%;
}

.lower-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.lower-header img {
  width: 80px;
  height: auto;
}

.self {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.actions button {
  width: 100px;
  height: 2rem;
  border-radius: 16px;
  border: none;
  background-color: #1992D4;
  color: white;
}

/* Main Content Elements */
.main-content-container {

}

.main-content-container svg {
  width: 2rem;
  height: auto;
}

.projects {

}

.project-card {
  border-radius: 4px;
  border-left: 4px solid #F0B429;
  width: 400px;
  height: 300px;
  background-color: white;
}